<div class="row">
  <h1>Dodis Dokumente / Dodis Documents</h1>

  <svg width="915" height="735">
    <defs></defs>
    <g time time-data="timeSeries" time-extent="filterExtent" width="915" height="80" transform="translate(0,8)"></g>
    <g transform="translate(0,120)" globe countries="globeCountries" radius-scale="radiusScale" features="filtered"></g>
  </svg>

  <h2>
    <span ng-if="filterExtent">{{ dateFormat(filterExtent[0]) }} - {{ dateFormat(filterExtent[1]) }}: </span>
    {{ filteredDocuments ? numberFormat(filteredDocuments.length) : '' }} Dokumente / Documents
  </h2>

  <div class="document-container clearfix">
    <div ng-repeat="doc in filteredDocuments | limitTo: displayLimit" class="document pull-left">
      <p>
        <a ng-href="http://www.dodis.ch/{{ doc.id }}" target="_blank">
          <span ng-if="doc.date">{{ dateFormat(doc.date) }}</span> #{{ doc.id }} <span class="glyphicon glyphicon-link"></span></a>
        <br>
        {{ doc.title }}
      </p>
    </div>
  </div>

  <p ng-if="displayLimit < filteredDocuments.length">
    {{ displayLimit }}/{{ filteredDocuments.length }},
    <a href="" ng-click="$parent.displayLimit = displayLimit + 100"> mehr anzeigen / afficher plus <span class="glyphicon glyphicon-plus"></span></a>
  </p>

</div>
