$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$ch-red: #E11A27;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.document-container {
  margin: 0 -10px;
  max-width: 915px;

  .document {
    border: 1px solid #000;
    padding: 10px;
    width: 205px;
    height: 80px;
    overflow: hidden;
    margin: 10px;
  }
}

.time-series {
  .line {
    fill: none;
    stroke: $ch-red;
  }

  font: 10px sans-serif;

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .axis.x {
    line, .domain {
      stroke: none;
    }
    fill-opacity: 0.5;
  }

  .brush .extent {
    stroke: #fff;
    fill: #000;
    fill-opacity: .125;
    shape-rendering: crispEdges;
  }
}

.globe {
  cursor: move; // IE without grab
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;

  &:active  {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
  }

  circle {
    fill: $ch-red;
    fill-opacity: 0.6;
    pointer-events: none;
  }

  .overlay {
    fill: none;
    pointer-events: all;
  }

  .sphere {
    stroke: AliceBlue;
    stroke-width: 0.5px;
    fill: white;
  }

  .country path {
    fill: #fff;
    stroke-width: 0.5px;
    stroke: #ddd;
  }

  .country path {
    cursor: default;
    fill: #eee;
    stroke: #fff;
    stroke-width: 1px;
    // pointer-events: none;

    &.is-active {
      fill: #ddd;
      pointer-events: all;
    }
    // &.is-hovered {
    //   fill: #ccc;
    // }
  }
}